<div class="container-fluid">
  <div class="info">
    <strong>Resume builder</strong>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <strong>My personal Info</strong>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <strong>Expiriance</strong>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <strong>Education</strong>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-2 info">Degree:</label>
        <div class="col-sm-4 info">
          <input type="name" class="form-control" ng-model="degree" placeholder="Degree">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-2 info">Higher Secondary:</label>
        <div class="col-sm-4 info">
          <input type="text" class="form-control" ng-model="hs" placeholder="Higher Secondary">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-2 info">Matriculation:</label>
        <div class="col-sm-4 info">
          <input class="form-control" ng-model="sslc" type="text" placeholder="Mattriculation">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-5 "><br/>
        <button ng-click="myFunction3(degree, hs, sslc)" class="btn btn-md btn-primary"><a><strong class="submitbtn">Submit</strong></a></button>
      </div>
    </div>

  </div>

</div>
