<div class="bg5">
  <div class="container-fluid">
    <div class="row, jobDetails">
      <div class="col-sm-2">
        ggdfhdfd
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-1">
            <div class=""><strong>ID</strong></div>
            <div class=""><strong>{{job[15].company}}</strong></div>
          </div>
          <div class="col-sm-2">
            <div class=""><strong>COMPANY</strong></div>
          </div>
          <div class="col-sm-2">
            <div class=""><strong>SECTION</strong></div>
          </div>

          <div class="col-sm-2">
            <div class=""><strong>SKILLS</strong></div>
          </div>
          <div class="col-sm-2">
            <div class=""><strong>EXPERIENCE</strong></div>
          </div>
          <div class="col-sm-1">
            <div class=""><strong>SALARY</strong></div>
          </div>
        </div>
        <div class="row" ng-repeat="x in job">
          <div class="col-sm-1">
            <div class=""><strong></strong></div>
          </div><div class="col-sm-1">
            <div class=""><strong></strong></div>
          </div>
          </div><div class="col-sm-1">
            <div class=""><strong></strong></div>
          </div>  </div><div class="col-sm-1">
            <div class=""><strong></strong></div>
          </div>
          </div><div class="col-sm-1">
            <div class=""><strong></strong></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <img src="images/i2.png" alt="" />
      </div>


    </div>
  </div>
</div>
