<body>
<link rel="stylesheet" href="../stylesheets/resume1.css" media="screen" title="no title" charset="utf-8">
  <div class="container-fluid bg1">
    <div class="row">

      <div class="col-sm-3">

        <div class="sidebar-nav ">
          <div class="navbar navbar-default colornav" role="navigation">
            <div class="navbar-header colornav ">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>

            </button>
              <span class="visible-xs navbar-brand"><strong class="builder">Resume Builder menu</strong></span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav sidenav">
                <li class="myresume">
                  <a href="http://localhost:8004/html/resume/resume.html">
                    <strong class="myresumelink"><strong>myResume</strong></strong>
                  </a>
                </li>
                <li class="windowoption">
                  <a href="#/">
                    <span class="glyphicon glyphicon-th-list">
                    <strong class="windowlink">Template</strong>
                  </a>
                </li>
                <li class="windowoption">
                  <a href="#mypersonalinfo">
                    <span class="glyphicon glyphicon-user"></span>
                    <strong class="windowlink">My Personal Info</strong>
                  </a>
                </li>
                <li class="windowoption">
                  <a href="#expiriance">
                    <span class="glyphicon glyphicon-certificate"></span>
                    <strong class="windowlink">Expiriance</strong></a>
                </li>
                <li class="windowoption">
                  <a href="#education">
                    <span class="glyphicon glyphicon-education">
                    <strong class="windowlink">Education</strong></a>
                </li>
                <li class="windowoption">
                  <a href="#skills">
                    <span class="glyphicon glyphicon-cog"></span>
                    <strong class="windowlink">Skills</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 bg2" ng-view>
      </div>

    </div>

</body>
