<body>
  <link rel="stylesheet" href="../stylesheets/resume.css" media="screen" title="no title" charset="utf-8">
  <div class="container-fluid bg1">
    <div container-fluid>
    </div>
    <div class="head">
      <h1>Resume Builder: Create A Resume With In '3' Steps !!!</h1>
      <div class="btn-wrapper ">
        <a class="btn btn-red btn-lg headbtn" href="http://localhost:8004/html/resume/resume1.html#/" target="_blank">
          Create my resume now</a>
      </div>
    </div>
  </div>
</body>
