<div class="bg1">
  <div class="container-fluid">
    <div class="loginbox">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="loginText1">New Member? </span>
          <strong class="loginText2">SignUp</strong>
        </div>
        <form data-toggle="validator" role="form">
          <div class="panel-body"> <input type="text" class="loginInput, form-control"
              ng-model="signUp.username" placeholder="Enter Full Name"
              required=""> {{errorMsg1}} </div>
          <div class="panel-body">
            <input type="email" class="form-control" id="inputEmail"
            placeholder="Email" data-error="Bruh, that email address is invalid" required
             ng-model="signUp.email">
          </div>
          <div class="panel-body">
            <input type="number" class="loginInput, form-control"
              ng-model="signUp.phone" placeholder="Enter Phone Number (minimum lengrh= 10)"
              required="" data-minlength="10"> {{errorMsg3}}
             </div>
          <div class="panel-body">
            <input type="password" class="loginInput, form-control"
              id="pwd" ng-model="signUp.password"
              placeholder="Enter password"
              required=""> {{errorMsg4}} </div>
          <strong>{{msg}}</strong>
          <div class="panel-body">
          <input type="password" class="loginInput, form-control"
              id="pwd" ng-model="signUp.password1"
              placeholder="Re-Enter password"
              required=""> </div>
          <div class="panel-body">
            <input type="date" class="loginInput, form-control"
              id="pwd" ng-model="signUp.dob"
              placeholder="DD/MM/YY" required="">
              <strong>{{errorMsg6}}</strong>
            </div>
          <div class="panel-body">
            <a ng-href="#{{sign}}"><button type="button" class="btn btn-primary active"
                ng-click="signUpFunction(signUp)">
              Sign Up</button></a>
          </div>
        </form>
        <div class="panel-footer">
          <a href="#/"><img src="../images/i2.png"/></a>
          <a href="#"></span class="help">Help?</a>
        </div>
      </div>
    </div>
</div>
