<div id="quickSearch" class="collapse">

  <style media="screen">
    .form-control {
      width: 50%;
      text-align: center;
    }
  </style>

  <div class="container-fluid">
    <div class="loginbox">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="loginText1">Quick Search?</span>
          <strong class="loginText2">Fill Details</strong>
        </div>
        <form class="">
          <div class="panel-body">

            <input type="text" class="loginInput" ng-model="signUp.clgeName" placeholder="College Name">

          </div>
          <div class="panel-body">

            <input type="text" class="loginInput" ng-model="signUp.jobType1" placeholder="Job Prefered">

          </div>
          <div class="panel-body">

            <input type="text" class="loginInput" ng-model="signUp.company1" placeholder="Company Prefered">

          </div>
          <div class="panel-body">

            <input type="text" class="loginInput" id="pwd" ng-model="signUp.jobType2" placeholder="Job Prefered2">

          </div>
          <div class="panel-body">

            <input type="text" class="loginInput" id="pwd" ng-model="signUp.LocationPref" placeholder="Location prefered">

          </div>
          <div class="panel-body">

            <input type="number" class="loginInput" id="pwd" ng-model="signUp.expiriance" placeholder="Year of Expiriance">

          </div>

          <div class="panel-body">

            <label><input type="checkbox"> List My Options</label>

          </div>

          <div class="panel-body">

            <a ng-href="#{{sign}}">
              <button type="button" class="btn btn-primary active" ng-click="signUpFunction(signUp)">
              Sign Up</button></a>
          </div>

        </form>

        <div class="panel-footer">

        </div>
        <div class="panel-footer">
          <a href="#/"><img src="../images/i2.png" alt="" /></a>
          <a href="#"></span class="help">Help?</a>
        </div>

      </div>
    </div>

  </div>
</div>
