<div class="container-fluid">
  <div class="info">
    <strong>Resume builder</strong><span class="glyphicon glyphicon-chevron-right"></span>
    <strong>My personal Info</strong><span class="glyphicon glyphicon-chevron-right"></span>
    <strong>Expiriance</strong><span class="glyphicon glyphicon-chevron-right"></span>
    <strong>Education</strong><span class="glyphicon glyphicon-chevron-right"></span>
    <strong>skills</strong>
  </div>
  <div class="container-fluid">
    <div class="form-group">
      <label class="control-label col-sm-2">Skills:</label>
      <div class="col-sm-4">
        <input type="name" class="form-control" ng-model="skill1" placeholder="Skill 1"><br/>
        <input type="name" class="form-control" ng-model="skill2" placeholder="Skill 2"><br/>
        <input type="name" class="form-control" ng-model="skill3" placeholder="Skill 3">
      </div>
    </div>

  </div>
  <div class="row">
      <div class="col-sm-offset-5"><br/>
        <button ng-click="myFunction4(skill1, skill2, skill3)" class="btn btn-md btn-primary">
          <a href="http://localhost:8004/html/resume/resume2.html"><strong class="submitbtn">Submit</strong></a></button>

    </div>

  </div>
</div>
