<div class="container-fluid">
  <div class="rwo">
    <div class="col-sm-4 ">
      <div class="thumbnail">
      <a href="#mypersonalinfo">
          <img src="../../images/resume/tem1.png" alt="" width="250" height="250" />
        </a>

        <div><a href="#mypersonalinfo">Template-1</a></div>

      </div>
    </div>
    <div class="col-sm-4 ">
        <div class="thumbnail">
      <a href="#mypersonalinfo">
        <img src="../../images/resume/tem2.png" alt="" width="250" height="250" />
      </a>

      <div><a href="#mypersonalinfo">Template-2</a></div>

      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="thumbnail">
      <a href="#mypersonalinfo">
            <img src="../../images/resume/tem3.png" alt="" width="250" height="250" />
        </a>

      <div><a href="#mypersonalinfo">template-3</a></div>

      </div>
    </div>
  </div>
  <div class="info "><strong class="templateSelect">Select a Template</strong></div>
</div>
